* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f8f8ff;
  color: #222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8d17e0;
  padding: 15px 30px;
  color: white;
}

.logo {
    display: flex;
    align-items: center;     
    justify-content: center;
    gap: 10px; 
}

.logo img {
    width: 50px;
    border-radius: 50%;
    align-items: center;
}

.brand-title {
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-right: 20px;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 23px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.section {
  padding: 100px 40px;
}

.home {
  text-align: center;
  background: #eee7ff;
  height: 400px;
  justify-content: center;
 
}

.home h1 {
  font-size: 38px;
  margin-bottom: 15px;
}

.home h6 {
    font-size: 25px;
    margin-bottom: 15px;
}

.home p {
    font-size: 18px;
    margin: 0 16rem;
    line-height: 2rem;
}

.about {
    margin: 70px 50px;
    height: 32rem;
}
.about .vision-mission {
  margin-bottom: 30px;
}

.about h1 {
  font-size: 37px;
  margin-bottom: 18px;
  text-align: center;
}

.about p {
    font-size: 18px;
    margin: 0 6rem;
    line-height: 2rem;
    text-align: center;
}

.vision-mission {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 60px 60px 0 60px;
}

.visi,
.misi {
  flex: 1;
  background: rgba(255, 255, 255, 0.733);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.visi h3,
.misi h3 {
  margin-bottom: 12px;
  text-align: center;
  font-size: 25px;
}

.visi p {
  text-align: left;
  font-size: 16px;
  margin: 0;
}

.misi ul li {
    font-size: 16px;
    line-height: 2rem;
}

.misi ul {
  padding-left: 20px;
}

.pembatas {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, #474646, transparent);
  margin: 20px 0;
}

.section.message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-container {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  gap: 50px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.section.message h2 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 30px;
}

form {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

form label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 600;
  text-align: left;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 14px;
}

form textarea {
  resize: vertical;
  min-height: 90px;
}

button {
  margin-top: 18px;
  padding: 10px;
  width: 100%;
  background: #7b00ff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #5c00cc;
}

.result {
  background: #f3e8ff;
  padding: 25px;
  border-radius: 12px;
  width: 280px;
  min-height: 200px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.result h3 {
  text-align: center;
  margin-bottom: 15px;
}

.result p {
    line-height: 2rem;
}
footer {
  text-align: center;
  padding: 20px;
  background: #9c2eeb;
  color: white;
  margin-top: 60px;
}

/* RESPONSIVE MOBILE */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .home p {
    margin: auto;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .message-container {
    flex-direction: column;
  }

  .about {
    height: auto;
    margin: 60px auto;
  }
}
